
@{
    ViewData["Title"] = "List";
}

<h1>Product List</h1>
<table class="table table-hover table-bordered" >
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
   @foreach(Product prod in ViewBag.ProductList)
            {
             <tr>
             <td>@prod.Id</td>
             <td>@prod.Name</td>
             <td>@prod.Price</td>

             </tr>
            }

</table>

